<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <ul class="list list-unstyled row">
                <li class="col-md-3">                    
                    <button class="btn btn-light" routerLink="fromEvent">
                        <div class="box-content">
                            fromEvent
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="interval">
                        <div class="box-content">
                            Interval & Timer
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="of-from">
                        <div class="box-content">
                            of & from
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="toArray">
                        <div class="box-content">
                            toArray
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="customObservable">
                        <div class="box-content">
                            Custom Observable
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="map">
                        <div class="box-content">
                            Map
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="pluck">
                        <div class="box-content">
                            pluck
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="filter">
                        <div class="box-content">
                            filter
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="tap">
                        <div class="box-content">
                            tap
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="take">
                        <div class="box-content">
                            take, takeLast & takeUntil
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="retry">
                        <div class="box-content">
                            retry, retryWhen, scan & delay
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="debounceTime">
                        <div class="box-content">
                            debounceTime<br>distinctUntilChanged
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="concat">
                        <div class="box-content">
                            Concat
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="merge">
                        <div class="box-content">
                            Merge
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="mergeMap">
                        <div class="box-content">
                            MergeMap
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="concatMap">
                        <div class="box-content">
                            ConcatMap
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="concatMap/MobileNotification">
                        <div class="box-content">
                            concatMap <br>( Mobile Notification )
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="switchMap">
                        <div class="box-content">
                            switchMap 
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="switchMap/SearchFunctionality">
                        <div class="box-content">
                            switchMap <br> ( Search Functionality )
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="exhaustMap">
                        <div class="box-content">
                            exhaustMap 
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="shareReplay">
                        <div class="box-content">
                            shareReplay 
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="combineLatest_withLatestFrom">
                        <div class="box-content">
                            combineLatest &<br> withLastestFrom
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="zip_forkJoin">
                        <div class="box-content">
                            zip &<br> forkJoin
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="catchError_throwError">
                        <div class="box-content">
                            catchError &<br> throwError
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
