<h3 class="my-3">Promise - Async/Await - Fetch api</h3>

<!-- <button class="btn btn-secondary me-5" (click)="buyLaptopMethod()">Buy Laptop</button>
<strong class="text-secondary">{{promiseRes}}</strong> -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <strong>Ex 01 : With Promise</strong>
            <hr>
            <button class="btn btn-secondary" (click)="getData1()">Buy Laptop</button>
            <hr>
            <div id="result1">{{res1}}</div>
        </div>
        <div class="col-md-4">
            <strong>Ex 02 : With Async/Await</strong>
            <hr>
            <button class="btn btn-secondary" (click)="getData2()">Buy Laptop</button>
            <hr>
            <div id="result2">{{res2}}</div>
        </div>
        <div class="col-md-4">
            <strong>Ex 03 : With Fetch API</strong>
            <hr>
            <button class="btn btn-secondary" (click)="getData3()">Buy Laptop</button>
            <hr>
            <div id="result3">{{res3}}</div>
        </div>
    </div>
</div>
