<h3 class="my-3">concatMap (Mobile Notification)</h3>
<br>
<div class="iphone-x">
    <i>Speaker</i>
    <b>Camera</b>
    <s>10:24</s>

    <span>Left action button</span>
    <span>Right action button</span>

    <!-- Notification boxes -->
    <div class="notification" id="elContainer">
        <!-- <div class="item">
            <strong >person1</strong>
            <p style="font-weight:normal;">the notification</p>
        </div>        
        <div class="item">
            <strong >person1</strong>
            <p style="font-weight:normal;">the notification</p>
        </div>  -->
        
        
    </div>
    

</div>