<h3 class="my-3">Take, takeLast, takeUntil</h3>
<br>
<p class="bg-light py-2 px-3 d-inline-block border rounded">
    Random names = 'seema','jyothi','amrita','anjana','ankita'
</p>
<div class="row">
    <div class="col-md-4">
        <strong>Ex 01 | take(3)</strong>
        <hr>
        <ul id="elContainer">
            
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex 02 | takeLast(3)</strong>
        <hr>
        <ul id="elContainer2">

        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex 03 | takeUntil(condition)</strong>
        <hr>
        <ul id="elContainer3">

        </ul>
    </div>
</div>