<h3 class="my-3">switchMap ( Search Functionality )</h3>
<br>
<h5>Search Here..</h5>
<form #searchForm = "ngForm">
    <input type="text" ngModel class="form-control form-control-lg" required name="searchTerm" autocomplete="off">
</form>

<hr>
<br>
<div class="results" *ngIf="searchResults">
    <div class="d-flex ">
        <h5>Search Results:</h5>
        <p class="ms-auto text-muted">{{searchResultCount}} Results found..</p>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of searchResults;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
          </tr>
          
        </tbody>
      </table>

</div>