<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <ul class="list list-unstyled row">
                <li class="col-md-3">                    
                    <button class="btn btn-light" routerLink="subjectAndBehviorSubject">
                        <div class="box-content">
                            Subject &<br>
                            BehaviorSubject
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="replaySubject">
                        <div class="box-content">
                            Replay Subject
                        </div>
                    </button>
                </li>
                <li class="col-md-3">
                    <button class="btn btn-light" routerLink="asyncSubject">
                        <div class="box-content">
                            Async Subject
                        </div>
                    </button>
                </li>
                
                
            </ul>
        </div>
    </div>
</div>
