<h3 class="my-3">CatchError & ThrowError</h3>
<br>
<h5>Products : <strong class="text-primary">Electronics</strong></h5>
<br>
<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <br>
<button *ngIf="!products" class="btn btn-primary" (click)="getProducts()">
    <span *ngIf="fetching" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    {{fetching ? 'Fetching...' : 'Get Products'}}
</button>
<br>
<hr>
<br>
<div class="row">
    <div class="col-md-3" *ngFor="let item of products">
        <div class="card mt-3 p-3" style="width: 15rem; height: 20rem;">
            <img src="{{item.image}}" width="100" height="150" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title ellipsis">{{item.title}}</h6>
                <p>{{item.category}}</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
</div>
