<h3 class="my-3">SwitchMap</h3>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <strong>Ex-01 | map</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong> Videos  :</strong> ['Tech','Comedy','News']
        </p>
        <ul id="elContainer">
            
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex-02 | map + switchAll</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong> Videos  :</strong> ['Tech','Comedy','News']
        </p>
        <ul id="elContainer2">
            
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Source-03 | switchMap</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong> Videos  :</strong> ['Tech','Comedy','News']
        </p>
        <ul id="elContainer3">
            
        </ul>
    </div>
</div>
<br>
<hr>
<br>
<h4>Comparison between mergeMap, concatMap & switchMap</h4>
<br>
<div class="row">
    <div class="col-md-4">
        <strong>Ex-01 | mergeMap</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong> Videos  :</strong> ['Tech','Comedy','News']
        </p>
        <ul id="elContainer4">
            
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex-02 | concatMap</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong> Videos  :</strong> ['Tech','Comedy','News']
        </p>
        <ul id="elContainer5">
            
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Source-03 | switchMap</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong> Videos  :</strong> ['Tech','Comedy','News']
        </p>
        <ul id="elContainer6">
            
        </ul>
    </div>
</div>