<h3 class="my-3">toArray</h3>
<br>
<div class="row">
    <div class="col-md-4">
        <strong>Ex-01</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Data:</strong>interval to array
        </p>
        <hr>
        <h6>Result:</h6>
        <ul id="elContainer1">
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex-02</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Data:</strong>from to array
        </p>
        <hr>
        <h6>Result:</h6>
        <ul id="elContainer2">
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex-03</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Data:</strong>of to array
        </p>
        <hr>
        <h6>Result:</h6>
        <ul id="elContainer3">
        </ul>
    </div>
</div>