<h3 class="my-3">Interval & Timer</h3>
<br>
<h4>Interval:</h4>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                User 1
            </div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                User 2
            </div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                User 3
            </div>
            <div class="card-body">
                <ul id="elContainer3"></ul>
            </div>
        </div>
    </div>
</div>

<h4 class="mt-4">Timer:</h4>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                User 1
            </div>
            <div class="card-body">
                <ul id="elContainerTimer"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                User 2
            </div>
            <div class="card-body">
                <ul id="elContainerTimer2"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                User 3
            </div>
            <div class="card-body">
                <ul id="elContainerTimer3"></ul>
            </div>
        </div>
    </div>
</div>
