<h3>CombineLatest and withLatestFrom </h3>
<br>
<div class="row">
    <div class="col-md-3">
        <strong>Names</strong>
        <hr>
        <select class="form-select" #name >
            <option selected disabled>Select name</option>
            <option value="{{item}}" *ngFor="let item of namesSource">
                {{item}}
            </option>
        </select>
        <br>
        <br>
        
        <strong>Colors</strong>
        <hr>
        <select class="form-select" #color>
            <option selected disabled>Select color</option>
            <option value="{{item}}" *ngFor="let item of colorSource">
                {{item}}
            </option>
        </select>
    </div>

    <div class="col-md-9">
        <strong>combineLatest</strong>
        <hr>
        <div class="wrapper" id="elContainer">
            <!-- <div class="red">Reema</div>
            <div class="green">Seema</div>
            <div class="lightblue">Farah</div> -->
        </div>

        <br>
        <br>

        <strong>withLastestFrom</strong>
        <hr>
        <div class="wrapper" id="elContainer2">
            <!-- <div class="red">Reema</div>
            <div class="green">Seema</div>
            <div class="lightblue">Farah</div> -->
        </div>
    </div>
</div>